<div class='col-md-4'></div>
<div class='col-md-4'>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signup", role: "form" }) do |f| %>
		<% if devise_error_messages! != "" %>
			<div class="alert alert-danger"><p class="alert"><%= devise_error_messages! %></p></div>
		<% end %>
	<h2 class="form-signin-heading">Sign Up</h2>
	<%= f.text_field :username, autofocus: true, class: "form-control username top", placeholder: "Username", required: true %>
	<%= f.email_field :email, class: "form-control email mid", placeholder: "E-Mail Address", required: true %>
	<%= f.password_field :password, class: "form-control password mid", placeholder: "Password", required: true, autocomplete: false %>
	<%= f.password_field :password_confirmation, class: "form-control password bottom", placeholder: "Repeat Password", required: true, autocomplete: false %>
	<div><%= f.submit "Sign Up", class: "btn btn-lg btn-primary btn-block" %></div>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
